<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">
  <div class="ion-content-scroll-host ion-padding">
    <ion-grid>
      <ion-row> 
        <ion-col col-12>
          <ion-avatar class="image-center">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-card padding>
            <ion-card-header>
              <ion-card-title>Activites</ion-card-title>
              <ion-card-subtitle>Recommended Actitivites</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              1. {{increase0}} {{feature0}} <br>
              2. {{increase1}} {{feature1}} <br>
              3. {{increase2}} {{feature2}} <br>
              4. {{increase3}} {{feature3}} <br>
              5. {{increase4}} {{feature4}} <br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-card padding>
            <ion-card-header>
              <ion-card-title>Sports</ion-card-title>
              <ion-card-subtitle>Suggested Sports Based on Recommended Activites</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              1. {{sport0}} <br>
              2. {{sport1}} <br>
              3. {{sport2}} <br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>