<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">
  <div class="ion-content-scroll-host ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Tab 2</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-item *ngFor="let note of notes">
      <div class="container">
        <ion-card color="medium">
          <ion-card-header>
            <ion-card-title>Sleep Log</ion-card-title>
            <ion-card-subtitle>{{note.date}}</ion-card-subtitle>
          </ion-card-header>
              
          <ion-card-content>
            Time Fell Asleep: {{note.heart_rate_sleep}} <br>
            Time Woke Up: {{note.heart_rate_awake}} <br>
            Calories Burned: {{note.calories_burned}} <br>
            Step Count: {{note.step_count}} <br>
          </ion-card-content>
        </ion-card>   
      </div>
    </ion-item>
  </div>
</ion-content>
