ion-card {
    text-align: center;
}

ion-col {
    text-align: center;
    align-content: center;
}

.image-center {
    margin: 0 auto;
    height: 100px;
    width: 100px;
}


ion-title {
    text-align: center;
}

ion-item {
    align-content: center;
}
    