<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row> 
      <ion-col col-12>
        <ion-avatar class="image-center">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card padding>
          <ion-item>
            <ion-label>ID Number</ion-label>
            <ion-input type="text" [(ngModel)]="id" placeholder="Enter ID"></ion-input>
          </ion-item>
          <ion-button (click)="getID()">Default</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>